	<navigation></navigation>
	<div class="container">

		<marquee >
		      <span ng-repeat="notice in vm.notifications">
		          {{notice.messageText}} .................
		      </span>
		</marquee>
		<div><b>{{vm.pageHeader.title}}</b></div>
		<br/>
		<div class="row">

	     	<div class="row col-xs-12">
				<uib-accordion close-others="true">
		         	 <div uib-accordion-group class="row panel-default" heading="{{vm.activityAssignedMessage}}">
							<div class="col-xs-12 list-group-item" ng-repeat="event in vm.assignedActivities.assignedActivities">
								<p>
									<a  uib-tooltip="Know all event details" ng-click="vm.showEventDetails(event.eventId)">{{event.activity}}</a>
									<span class="badge pull-right badge-default">@{{event.area}}</span>
								</p>
								<p class="name">
									<span class="">{{event.date | date:"d MMM"}} @{{event.startTime | date:"hh:mm"}}</span>
								</p>
								<p>
								   	<a class="btn btn-default pull-right" uib-tooltip="Call coordinator" href="tel:{{event.coOrdinatorPhone}}"><span class="glyphicon glyphicon-phone">{{event.coOrdinator}}</span></a>
								   	<a class="btn btn-default pull-right" uib-tooltip="I am at site" ng-if="!event.inTime" ng-click="vm.popupCheckIn(vm.volunteerId,event._id)"><img width="20" height="20" src="/images/checkin.png"  border="1" alt="InTime"></a>
								   	<a class="btn btn-default pull-right" uib-tooltip="Volunteering details" ng-if="event.inTime" ng-click="vm.popupCheckOut(vm.volunteerId,event._id)"><img width="20" height="20" src="/images/pad.jpg"  border="1" alt="OutTime"></a>
								</p>
							</div>
					</div>
		         	 <div uib-accordion-group class="row panel-default" heading="{{vm.activityInterestedMessage}}">
		             	<div class="col-xs-12 list-group-item" ng-repeat="event in vm.interestedActivities.interestedActivities ">
		             	    <p>
		             	    	<a  ng-click="vm.showEventDetails(event.eventId)" uib-tooltip="Know all event details">{{ event.activity}}</a>
		             	    	<span class="badge pull-right badge-default">@ {{event.area}}</span>
		             	    </p>
		             	    <p class="name">
		             	    	<span class="">{{event.date | date:"d MMM"}} @{{event.startTime | date:"hh:mm"}}</span>
		             	    </p>
							<p>
		             	       <a class="btn btn-default pull-right" uib-tooltip="Call coordinator" href="tel:{{event.coOrdinatorPhone}}"><span class="glyphicon glyphicon-phone">{{event.coOrdinator}}</span></a>
		             	       <a class="btn btn-default pull-right" uib-tooltip="I will be volunteering" ng-click="vm.confirmAttendence(vm.volunteerId,event._id)"><img width="20" height="20" src="/images/handshake.png"  border="1" alt="Confirm"></a>
							   <a class="btn btn-default pull-right" uib-tooltip="Sorry can not make" ng-click="vm.revertInterest(vm.volunteerId,event._id)"><img width="20" height="20" src="/images/Volunteer-Hand-Icon.png"  border="1" alt="Sorry"></a>
		             	    </p>
		            	</div>
	            	</div>


					<div uib-accordion-group class="row panel-default" heading="{{vm.eventMessage}}">
						<div class="col-xs-12 list-group-item " ng-repeat="event in vm.events.events | orderBy:'date' | limitTo:4" >
							<p>
								<a class="" ng-click="vm.showEventDetails(event._id)" uib-tooltip="Know all event details">{{event.activity}}</a>
							    <span class="badge pull-right badge-default">@ {{event.area}}</span>
							</p>
							<p class="name">
								<span class="">{{event.date | date:"d MMM"}} @{{event.startTime | date: "hh:mm" }}</span>
							</p>
							<p>

							   <a class="btn btn-default pull-right" uib-tooltip="Call coordinator" href="tel:{{event.coOrdinatorPhone}}"><span class="glyphicon glyphicon-phone">{{event.coOrdinator}}</span></a>
							   <a class="btn btn-default pull-right" uib-tooltip="Interested in volunteering" ng-click="vm.showInterest(vm.volunteerId,event._id)"><img width="20" height="20" src="/images/12250-200.png"  border="1" alt="Interested"></a>
							</p>
						</div>
						<div class="col-xs-12 list-group-item" ng-if="vm.events.events.length > 4">
							<span class="badge pull-right badge-default"><a class="" href="/#/event">...more</a></span>
						</div>
					</div>
				</uib-accordion>
            </div>
	  	</div>
	  	<footer-dss></footer-dss>
	</div>