extends layout

block content

  #banner.page-header
     .row
        .col-lg-6
            h1 Volunteers
               small &nbsp; Remark for volunteer             
               
               
  .row
     .col-xs-12.col-md-6
         form.form-horizontal(action="#{url}" method="post", role="form")
             .form-group
                 input(type="hidden", name="id" , value="#{id}")
             .form-group
                 label.col-xs-10.col-sm-2.control-label(for="date") Date
                 .col-xs-12.col-sm-10
                      input#name.form-control(name="date")
             .form-group
                 label.col-xs-10.col-sm-2.control-label(for="dssStaff") DSS Staff 
                 .col-xs-12.col-sm-10
                      input#name.form-control(name="dssStaff")
             .form-group
                 label.col-xs-10.col-sm-2.control-label(for="remarks") Remarks
                 .col-xs-12.col-sm-10
                 textarea#aboutme.form-control(name="remarks", rows="5")
              
              input(type='submit',value='Add')
                  
      .col-xs-12.col-md-4
          p.Get connected with volunteers
  