	<navigation _id={{vm.volunteerId}}></navigation>
	<page-header></page-header>
	<div class="container-fluid">
	    <div class="row">
	     	<div class="col-xs-12">
	     		<div class="row list-group">{{vm.message}}</div>
	     		<div class="row list-group">Import event file 'eventMay.csv' from controllers folder  <a class="btn btn-default pull-right" ng-click="vm.importEvent()">Import</a></div>
				<div class="row list-group">Import event file 'noticeCur.csv' from controllers folder  <a class="btn btn-default pull-right" ng-click="vm.importNotice()">Import</a></div>
		    </div>
	  	</div>
  	</div>
  	<footer-dss></footer-dss>