<navigation></navigation>
<div class="container">
	<page-header info="vm.pageHeader"></page-header>
	<div class="row">
		<div class="col-xs-12">
			<div class="error">{{vm.message}}</div>
		 	<form id="registerVolunteer" class="form-horizontal" role="form" name="registerVolunteer" ng-submit="vm.onSubmit()">

				<div class="row">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Personal Information</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								 <label class="col-xs-10 col-sm-2 control-label" for="name">Name</label>
								 <div class="col-xs-12 col-sm-10">
									 <input id="name" class="form-control" name="name" ng-model="vm.formData.name"/>
								 </div>
							</div>
							<div class="form-group">
								<label class="col-xs-10 col-sm-2 control-label" for="address">Address</label>
								<div class="col-xs-12 col-sm-10">
									<input id="address" class="form-control" name="address" ng-model="vm.formData.address"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-10 col-sm-2 control-label" for="phone">Phone</label>
								<div class="col-xs-12 col-sm-10">
									<input id="phone" class="form-control" name="phone" ng-model="vm.formData.phone"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-10 col-sm-2 control-label" for="address">EmailId</label>
								<div class="col-xs-12 col-sm-10">
									<input id="emailId" class="form-control" name="emailId" ng-model="vm.formData.emailId"/>
								</div>
							</div>

						</div>
					 </div>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<footer-dss></footer-dss>
</div>